* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info { 
  position: absolute; 
  top: 60%; 
  right: 10%; 
  width: 33%; 
  background: rgba(0,0,0,0.5);
  border: 2px solid white;
  border-radius: 25px; 
  color: #fff; 
  padding: 1rem; 
  font-family: Avenir, Helvetica, sans-serif; 
}
.vid-info h1 { 
  font-size: 2rem; 
  font-weight: 700; 
  margin-top: 0; 
  line-height: 1.2; }
.vid-info a { 
  display: block; 
  color: #fff; 
  text-decoration: none; 
  background: rgba(0,0,0,0.7); 
  transition: .6s background; 
  
  margin: 1rem auto; 
  text-align: center; 
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.blurred { 
    -webkit-filter: blur(20px); 
    filter: url(#blur-effect) grayscale(1);
}

.lt-ie9 .blurred {
  filter: progid:DXImageTransform.Microsoft.Blur(Strength=20);
  position: relative;
  left: -2px;
  top: -2px;
}

.logo {
  margin: auto;
  padding-top: 4%;
}

#our-purpose-context {
  background-color: rgba(0,0,0,0.6);
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  line-height:0px;
  font-size: 35px;
}

.landing-button {
  border-bottom: none; 
  margin: 1rem auto; 
  text-align: center;
  line-height:0px;
}

.button-text {
  color: #fff; 
  text-decoration: none;
  font-family: Helvetica,Arial,sans-serif; 
}

.pad {
  padding: 2%;
}

.btn-primary {
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.7);
  padding:10px 16px;
}

.btn-primary:hover {
  background-color: rgba(0,0,0,0.9);
}